* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2C3539;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #DC7633;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: white margin-bottom: 1.2rem;
    margin-bottom: 10px;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: whitesmoke;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: aliceblue;
    cursor: pointer;
    background: #A93226;

}

.member {
    margin-top: 10px;
}