nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2C3539;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #DC7633;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: white margin-bottom: 1.2rem;
    margin-bottom: 10px;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: whitesmoke;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: aliceblue;
    cursor: pointer;
    background:  #A93226;

}

button:hover {
    background: rgb(17, 107, 143, 0.877);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.terms {
    margin-top: 0.2rem;
}

.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.7rem;
}

.terms a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a {
    text-decoration: none;
    color: #464647;
}